<a (click)="backClicked()" class="ct_orange_text ct_back_to_list ct_chat_back mb-4 d-block ct_fw_600"
    style="cursor: pointer;"><i class="fa-solid fa-arrow-left me-2"></i> Back</a>
    
<!-- <div [ngClass]="{'ct_box_2_column ct_box_2_full_active': isCoach, 'ct_box_2_column': !isCoach, }"> -->
    <div class="ct_box_2_column ct_box_2_full_active">
    <div>
        <div class="ct_upload_text">
            <!-- <img [src]="avatar_url_fb ? avatar_url_fb : '/assets/img/np_pro.png'" alt="" class="ct_img_44 ct_orange_border_1"> -->
            <div class="form-group w-100">
                <input type="text" class="form-control ct_custom_input w-100" placeholder="Search..."
                    [(ngModel)]="searchQuery" (ngModelChange)="searchCategories()">
            </div>
        </div>

        <div *ngIf="data?.length === 0" class="text-center">
            <p class="ct_fs_15 text-white mt-5">No following found</p>
        </div>

        <div class="mt-4" *ngIf="data?.length > 0">
            <h4 class="ct_fw_600 text-white ct_fs_20">Following</h4>

            <ul class="ct_mt_30 ct_all_notification ct_suggested_category_scroll px-2">
                <li *ngFor="let categories of data;">
                    <div class="d-flex align-items-center justify-content-between" >
                        <div class="d-flex gap-2" (click)="getCoachId(categories.following.id, categories.following.role)" style="cursor: pointer;">
                            <div class="ct_star_circle">
                                <img [src]="categories.following.avatar_url ? categories.following.avatar_url : '/assets/img/np_pro.png'" alt="" class="ct_img_44 ct_bor ct_orange_border_1">
                            </div>
                            <div>
                                <h5 class="ct_fs_15 ct_orange_text ct_fw_600 mb-1 ct_ff_roboto">
                                    {{categories.following.full_name}}</h5>
                                <!-- <p class="mb-0 ct_fs_12 text-white">{{categories.following.totalPosts}} {{categories.following.totalPosts > 1 ? 'Posts' : 'Post'}}</p> -->
                               <div class="d-flex gap-2 align-items-center">
                                <img src="../assets/img/star.png" alt="star">
                                <span class="ct_orange_text">{{categories.following.category.name}}</span>
                               </div>
                            </div>
                        </div>
                        <div>
                            <button class="ct_orange_btn ct_grey_btn ct_border_radius_10 px-2 py-2 h-auto ct_fs_13"
                                style="min-width: 5rem;" [ngClass]="{'ct_active_follow': categories.isFollowing}"
                                (click)="unfollowCoach(categories.following.id)">

                                <div class="d-flex align-items-center">
                                    <div class="spinner-border me-2" role="status" *ngIf="btnLoader && categories.following.id == followId">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <span *ngIf="btnLoader && categories.following.id != followId || !btnLoader">Following</span>
                                </div>
                                
                            </button>
                            <p *ngIf="categories.following.totalFollowers > 0" class="mb-0 ct_ff_roboto ct_fs_12 text-white text-center mt-2 ct_fw_400">
                                {{categories.following.totalFollowers}} {{categories.following.totalFollowers > 1 ? 'Followers' : 'Follower'}}
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </div>
    <!-- <div class="ct_notification_main_div" *ngIf="!isCoach">

        <div class="mt-4">
            <app-suggested-categories></app-suggested-categories>
        </div>

    </div> -->
</div>