<!-- <a (click)="backClicked()" *ngIf="isCoach" class="ct_orange_text ct_back_to_list ct_chat_back" style="cursor: pointer;">Back</a> -->
<a (click)="backClicked()" class="ct_orange_text ct_back_to_list ct_chat_back mb-4 d-block ct_fw_600"
    style="cursor: pointer;"><i class="fa-solid fa-arrow-left me-2"></i> Back</a>
<div>
    <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap">
        <h4 class="ct_ff_roboto ct_fw_500 text-white ct_fs_20">All Notifications </h4>
        <button *ngIf="data?.length > 0" class="ct_orange_btn ct_border_radius_10"
            (click)="deleteAllNotification()">Delete All</button>
    </div>
    <!-- <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap" *ngIf="!isCoach">
        <h4 class="ct_ff_roboto ct_fw_500 text-white ct_fs_20">All Notifications </h4>
        <button *ngIf="data?.length > 0" class="ct_orange_btn ct_border_radius_10" (click)="deleteAllNotification()"><i
                class="fa-solid fa-trash"></i></button>
    </div> -->


    <!-- <i class="fa-solid fa-trash"></i> -->
    <ul class="ct_mt_30 ct_all_notification" *ngFor="let notify of data">
        <li>
            @if(isCoach){
            <div *ngIf="notify.type == 'team'">
                <div class="d-flex  gap-3" style="cursor: pointer;">
                    <img [src]="notify.byCoach.avatar_url ? notify.byCoach.avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_40 ct_bor ct_white_border_1">
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-1">{{notify.byCoach.full_name}}</h5>
                        <p class="mb-0 ct_fs_12 text-white">{{cleanNotificationContent(notify.byCoach.full_name,
                            notify.content)}}</p>
                    </div>
                    <div class="d-flex align-items-center gap-2 ms-auto ct_ms_0_575">
                        <div>
                            <button class="ct_accept_btn" (click)="acceptTeam(notify.data.teamId, notify.id)">
                                <div class="d-flex align-items-center">
                                    <div class="spinner-border me-2" role="status"
                                        *ngIf="acceptLoader && notify.id == notificationId">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <span
                                        *ngIf="acceptLoader && notify.id != notificationId || !acceptLoader">Accept</span>
                                </div>
                            </button>
                        </div>

                        <div>
                            <button class="ct_reject_btn" (click)="rejectTeam(notify.data.teamId, notify.id)">
                                <div class="d-flex align-items-center">
                                    <div class="spinner-border me-2" role="status"
                                        *ngIf="rejectLoader && notify.id == notificationId">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <span
                                        *ngIf="rejectLoader && notify.id != notificationId || !rejectLoader">Reject</span>
                                </div>
                            </button>
                        </div>
                    </div>

                    <!-- <div class="d-flex align-items-center gap-2 ms-auto ct_ms_0_575">

                        <button class="ct_accept_btn" (click)="acceptTeam(notify.data.teamId, notify.id)">
                            <div class="d-flex align-items-center">

                                <span>Accepted</span>
                            </div>
                        </button>



                    </div> -->

                </div>
            </div>

            <div *ngIf="notify.type == 'chat'">
                <div class="d-flex  gap-3" style="cursor: pointer;"
                    (click)="getChat(notify.data.chatId, notify.type)">
                    <img [src]="notify.byUser.avatar_url ? notify.byUser.avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_40 ct_bor ct_white_border_1">
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-1">{{notify.byUser.full_name}}</h5>
                        <p class="mb-0 ct_fs_12 text-white">{{cleanNotificationContent(notify.byUser.full_name,
                            notify.content)}}</p>
                    </div>


                    <!-- <div class="d-flex align-items-center gap-2 ms-auto ct_ms_0_575">

                        <button class="ct_accept_btn" (click)="acceptTeam(notify.data.teamId, notify.id)">
                            <div class="d-flex align-items-center">

                                <span>Accepted</span>
                            </div>
                        </button>



                    </div> -->

                </div>
            </div>

            <div *ngIf="notify.type == 'post'">
                <div class="d-flex  gap-3" style="cursor: pointer;">
                    @if(notify.byCoach?.avatar_url){
                    <img [src]="notify.byCoach?.avatar_url ? notify.byCoach?.avatar_url : '/assets/img/np_pro.png'"
                        alt="" class="ct_img_40 ct_bor ct_white_border_1">
                    } @else {
                    <img [src]="notify.byUser?.avatar_url ? notify.byUser?.avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_40 ct_bor ct_white_border_1">
                    }

                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-1">{{notify.byUser?.full_name ?
                            notify.byUser?.full_name : notify.byCoach?.full_name}}</h5>
                        @if(notify.byUser?.full_name){
                        <p class="mb-0 ct_fs_12 text-white">{{cleanNotificationContent(notify.byUser.full_name,
                            notify.content)}}</p>
                        } @else {
                        <p class="mb-0 ct_fs_12 text-white">{{cleanNotificationContent(notify.byCoach.full_name,
                            notify.content)}}</p>
                        }

                    </div>

                </div>
            </div>

            } @else {
            <div *ngIf="notify.type == 'chat'">
                <div class="d-flex  gap-2 " (click)="getChat(notify.data.chatId, notify.type)" style="cursor: pointer;">
                    <img [src]="notify.byCoach.avatar_url ? notify.byCoach.avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_40 ct_bor ct_white_border_1">
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-1">{{notify.byCoach.full_name}}</h5>
                        <p class="mb-0 ct_fs_12 text-white">{{cleanNotificationContent(notify.byCoach.full_name,
                            notify.content)}}</p>
                    </div>
                </div>
            </div>


            <div *ngIf="notify.type == 'event'">
                <div class="d-flex  gap-3" (click)="viewEvent(notify.data.eventId, notify.type)" style="cursor: pointer;">
                    <img [src]="notify.byCoach.avatar_url ? notify.byCoach.avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_40 ct_bor ct_white_border_1">
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-1">{{notify.byCoach.full_name}}</h5>
                        <p class="mb-0 ct_fs_12 text-white">{{cleanNotificationContent(notify.byCoach.full_name,
                            notify.content)}}</p>
                    </div>
                    <div style="cursor: pointer;" class="ms-auto">
                        <a class="ct_orange_btn mt-2 ct_border_radius_10 ">View</a>
                    </div>
                </div>
            </div>
            }

        </li>
    </ul>
</div>

<!-- *ngIf="coaches?.length > 0" -->
<div *ngIf="data?.length == 0" class="text-center mt-4">
    <p class="ct_fs_15 text-white">No notifications</p>
</div>