<a (click)="backClicked()" class="ct_orange_text ct_back_to_list ct_chat_back mb-4 d-block ct_fw_600"
    style="cursor: pointer;"><i class="fa-solid fa-arrow-left me-2"></i> Back</a>
<div class='ct_box_2_column ct_box_2_full_active'>
    <div>
        <div class="ct_upload_text">
            <!-- <img [src]="avatar_url_fb ? avatar_url_fb : '/assets/img/np_pro.png'" alt=""
                class="ct_img_44 ct_orange_border_1"> -->
            <div class="form-group w-100">
                <input type="text" class="form-control ct_custom_input w-100" placeholder="Search..."
                    [(ngModel)]="searchQuery" (ngModelChange)="searchFollowUsersList()">
            </div>
        </div>

        <div *ngIf="data?.length === 0" class="text-center">
            <p class="ct_fs_15 text-white mt-5">No follower found</p>
        </div>

        <div class="mt-4" *ngIf="data?.length > 0">
            <h4 class="ct_fw_600 text-white ct_fs_20">Followers</h4>
            <ul class="ct_mt_30 ct_all_notification px-2 ct_suggested_category_scroll">
                <li *ngFor="let follower of data;">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex gap-2 align-items-center" (click)="getUserId(follower.follower.id, follower.follower.role)" style="cursor: pointer;">
                            <div class="ct_star_circle">
                                <img [src]="follower.follower.avatar_url ? follower.follower.avatar_url : '/assets/img/np_pro.png'"
                                    alt="" class="ct_img_44 ct_bor ct_orange_border_1">
                            </div>
                            <div>
                                <h5 class="ct_fs_15 ct_orange_text ct_fw_600 mb-1 ct_ff_roboto">
                                    {{follower.follower.full_name}}</h5>
                                <div *ngIf="follower.follower.role == 'COACH'"
                                    class="d-flex align-items-center gap-2 mt-1">
                                    <img src="../assets/img/star.png" alt="star">
                                    <span class="ct_orange_text">{{follower.follower.category.name}}</span>
                                </div>
                                <!-- <p class="mb-0 ct_fs_12 text-white">{{categories.following.totalPosts}}
                                    {{categories.following.totalPosts > 1 ? 'Posts' : 'Post'}}</p> -->
                            </div>
                        </div>
                        <div *ngIf="follower.follower.role == 'COACH'">
                            @if(follower.isFollowed){
                            <button class="ct_orange_btn ct_grey_btn ct_border_radius_10 px-2 py-2 h-auto ct_fs_13"
                                style="min-width: 5rem;" [ngClass]="{'ct_active_follow': follower.isFollowing}"
                                (click)="unfollowCoach(follower.follower.id)">

                                <div class="d-flex align-items-center">
                                    <div class="spinner-border me-2" role="status"
                                        *ngIf="btnLoader && follower.following?.id == followId">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <span
                                        *ngIf="btnLoader && follower.following?.id != followId || !btnLoader">Following</span>
                                </div>

                            </button>
                            } @else {
                            <button class="ct_orange_btn ct_grey_btn ct_border_radius_10 px-2 py-2 h-auto ct_fs_13"
                                style="min-width: 5rem;" [ngClass]="{'ct_active_follow': follower.isFollowing}"
                                (click)="followCoach(follower.follower.id)">

                                <div class="d-flex align-items-center">
                                    <div class="spinner-border me-2" role="status"
                                        *ngIf="btnLoader && follower.following?.id == followId">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <span *ngIf="btnLoader && follower.following?.id != followId || !btnLoader">Follow
                                        Back</span>
                                </div>

                            </button>
                            }


                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </div>

</div>