<form [formGroup]="form">
    <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Current Password</label>
        <div class="position-relative">
            <input formControlName="current_password" type="{{ isPasswordVisible1 ? 'text' : 'password' }}"
                class="ct_login_input form-control ct_border_radius_10" placeholder="Enter current password">
            <img [src]="imageSrc1" alt="Eye" class="ct_eye_position_top" (click)="togglePasswordVisibility1()">
        </div>

        <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
            class="error-message">
            <div *ngIf="form.controls['current_password'].errors?.['required']">Current password is required.
            </div>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">New Password</label>
        <div class="position-relative">
            <input formControlName="new_password" type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                class="ct_login_input form-control ct_border_radius_10" placeholder="Enter new password">
            <img [src]="imageSrc2" alt="Eye" class="ct_eye_position_top" (click)="togglePasswordVisibility2()">
        </div>

        <!-- <div *ngIf="form.controls['new_password']?.invalid && form.controls['new_password'].touched"
                    class="error-message">
                    <div *ngIf="form.controls['new_password'].errors?.['required']">This
                        field is required.
                    </div>
                </div> -->
        <div class="error-message"
            *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">
            <div *ngIf="form.controls['new_password'].errors?.['required']">New password is required.</div>
            <div *ngIf="form.controls['new_password'].errors?.['minlength']">
                New password must be at least 8 characters long.
            </div>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Confirm Password</label>
        <div class="position-relative">
            <input formControlName="confirm_password" type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                class="ct_login_input form-control ct_border_radius_10" placeholder="Enter confirm password">
            <img [src]="imageSrc3" alt="Eye" class="ct_eye_position_top" (click)="togglePasswordVisibility3()">
        </div>

        <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
            class="error-message">
            <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                Confirm password is required.</div>
            <div *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                Passwords do not match.</div>
        </div>
    </div>

    <div class="d-flex align-items-end gap-2 justify-content-start mb-4">
        <button (click)="submitForm()" class="ct_orange_btn ct_grey_btn ct_border_radius_10"> Save</button>
    </div>

</form>

<div *ngIf="loading" class="ct_loader_main">
    <div class="loader"></div>
</div>