<div class="ct_event_all_main">
    @if(!isCoach){
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fw_600 ct_fs_20 text-white ct_ff_roboto">Upcoming Events</h4>
    </div>
    }@else {
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb-0 ct_fw_600 ct_fs_20 text-white ct_ff_roboto">My All Events</h4>
        <a class="ct_orange_text" routerLink="/user/main/add-event">+ Add New Event</a>
    </div>
    }
    <div class="ct_mt_30 ct_event_scroll" style="cursor: pointer;">

        <div *ngIf="eventData?.length == 0" class="text-center mt-4">
            <p class="ct_fs_15 text-white">No events found</p>
        </div>
        
        <div *ngFor="let event of eventData">
            <a class="ct_event_list mt-3 me-2" (click)="getEventId(event.id)">
                <div class="d-flex align-items-center gap-2">
                    <div class="ct_event_img_small">
                        <img [src]="event?.mediaUrl ? event?.mediaUrl : '/assets/img/np_pro.png'" alt=""
                            class="ct_img_62">
                    </div>
                    <div class="ct_event_info">
                        <h5 class="ct_fs_15 ct_fw_500 ct_ff_roboto text-white ct_mb_5">{{event.name}} </h5>
                        <!-- @if(event.address){
                        <div class="d-flex align-items-center gap-2">
                            <img src="../assets/img/location_icon.svg" alt="">
                            <p class="mb-0 ct_fs_12 ct_fw_500 ct_ff_roboto ct_orange_text">{{event.address}}</p>
                        </div>
                        } -->

                    </div>
                </div>
                <div>
                    <p *ngIf="event.registeredUsers > 0"
                        class=" ct_fs_12 text-white ct_fw_400 ct_ff_roboto ct_mb_10">{{event.registeredUsers}}
                        Interested
                    </p>
                    <p class="mb-0 ct_fs_12 ct_fw_500 ct_ff_roboto ct_orange_text">{{event.date |
                        date:'d MMM y'}}</p>
                </div>
            </a>
        </div>
    </div>
</div>