<!-- <p>signup works!</p>
<div style="text-align: center;">
    <ngx-loading [show]="loading"></ngx-loading>
</div> -->
<div class="ct_light_login_bg">
    <img src="assets/img/Ellipse_small_half.png" alt="" class="ct_elipse_small_img">
    <div class="ct_login_main">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-12">
                    <div class="ct_logo">
                        <a>
                            <img src="assets/img/logo.svg" alt="">
                        </a>
                    </div>
                </div>

            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="ct_login_left">
                        <h3 class="text-white ct_fs_36 ct_fw_600 text-center"><i><span
                                    class="ct_orange_text">Discover</span> Inner Harmony <br> with Your <span
                                    class="ct_orange_text">Ideal Coach.</span> </i></h3>
                        <div class="ct_animated_login_imgages">
                            <img src="assets/img/login_left_img_1.png" alt="" class="ct_i_am_user_img"
                                [ngClass]="isCoach ? 'ct_hide_img12' : 'ct_show_img12'">
                            <img src="assets/img/login_left_img_2.png" alt="" class="ct_i_am_coach_img"
                                [ngClass]="isCoach ? 'ct_show_img12' : 'ct_hide_img12'">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-4 mb-lg-0 offset_lg-1 position-relative ">
                    <img src="assets/img/Ellipse_big.png" alt="" class="ct_elipse_big_img">
                    <div class="ct_right_login py-3">

                        <h2 class="ct_fs_36 text-white mb-0 ct_ff_noto ct_fw_600">Coach Sign up</h2>
                        <p class="mb-0 text-white ct_ff_noto mb-3">Welcome to New Balancing world</p>
                        <form [formGroup]="loginForm" class="mt-3 w-100">
                            <div class="form-group mb-4 w-100">
                                <input type="text" class="form-control ct_login_input ct_ff_roboto"
                                    formControlName="full_name" placeholder="Name">
                                <div *ngIf="loginForm.controls['full_name'].invalid && loginForm.controls['full_name'].touched"
                                    class="error-message">
                                    <div *ngIf="loginForm.controls['full_name'].errors?.['required']"
                                        class="ct_fs_14 mt-1">Name is
                                        required.</div>
                                </div>
                            </div>
                            <div class="form-group mb-4 w-100">
                                <input type="email" class="form-control ct_login_input" placeholder="Email"
                                    formControlName="email">

                                <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
                                    class="error-message">
                                    <div *ngIf="loginForm.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                                        Email is required.
                                    </div>
                                    <div *ngIf="loginForm.controls['email'].errors?.['email'] && !loginForm.controls['email'].errors?.['required']"
                                        class="ct_fs_14 mt-1">
                                        Invalid email format.</div>
                                </div>

                            </div>
                            <!-- <div class="form-group mb-4">
                              
                                <div class="position-relative">

                                    <select name="" id="" formControlName="countryCode"
                                        class="form-control ct_login_input px-0 text-center"
                                        style="text-indent: 25px;">
                                        <option selected value="+44">+44</option>

                                    </select>
                                    <img src="../../../assets/img/ukFlag.jpg" class="ct_uk_flag_top"
                                        style="width: 20px; height: 15px;">
                                </div>
                                </div> -->
                            <div class="form-group mb-4 w-100">
                                <!-- <input type="text" maxlength="10" class="form-control ct_login_input"
                                        formControlName="phone_no" placeholder="Phone"> -->
                                <input id="phone_no1" type="text" formControlName="phone_no" maxlength="10"
                                    class="form-control ct_login_input" placeholder="Phone" />
                                <div *ngIf="loginForm.controls['phone_no'].invalid && loginForm.controls['phone_no'].touched"
                                    class="error-message">
                                    <div *ngIf="loginForm.controls['phone_no'].errors?.['required']"
                                        class="ct_fs_14 mt-1">Phone number is
                                        required.</div>
                                    <div *ngIf="loginForm.controls['phone_no'].errors?.['pattern']"
                                        class="ct_fs_14 mt-1">Only numbers are
                                        allowed.</div>
                                </div>
                            </div>

                            <div class="form-group mb-4 w-100">
                                <select name="" id="" class="form-control ct_login_input" formControlName="categoryId">
                                    <option *ngFor="let category of categories" [value]="category.id"> {{ category.name
                                        }}</option>

                                </select>
                                <div *ngIf="loginForm.controls['categoryId'].invalid && loginForm.controls['categoryId'].touched"
                                    class="error-message">
                                    <div *ngIf="loginForm.controls['categoryId'].errors?.['required']"
                                        class="ct_fs_14 mt-1">Category is
                                        required.</div>
                                </div>
                            </div>
                            <div class="form-group mb-4 w-100">
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible ? 'text' : 'password' }}"
                                        class="form-control ct_login_input" formControlName="password"
                                        placeholder="Password">
                                    <img [src]="imageSrc" alt="Eye" class="ct_eye_position_top"
                                        (click)="togglePasswordVisibility()">


                                </div>
                                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
                                    class="error-message">
                                    <div *ngIf="loginForm.controls['password'].errors?.['required']"
                                        class="ct_fs_14 mt-1">Password is
                                        required.</div>
                                </div>
                            </div>

                            <div class="mt-4 w-100">
                                <button (click)="login()"
                                    class="ct_orange_btn ct_border_radius_10 ct_py_14_px_10 w-100 ct_fs_20 ct_ff_roboto">Sign
                                    up</button>
                            </div>

                            <div class="mt-3 w-100">
                                <p class="mb-0 text-white ct_fw_500 ct_ff_roboto text-center"> Already have an account ?
                                    <a routerLink="/login" class="ct_orange_text ct_text_underline">Login</a>
                                </p>
                            </div>
                            <div class="mt-4 w-100">
                                <!-- <button (click)="toggleUser()"
                                    class="ct_orange_btn ct_border_radius_10 ct_py_14_px_10 w-100 ct_fs_20 ct_tansparent_btn "
                                    [ngClass]="isCoach ? 'ct_i_am_user_btn' : 'ct_i_am_coach_btn'">
                                    {{isCoach ? 'I am a User' : 'I am a Coach'}}</button> -->

                                <!-- <button class="ct_orange_btn ct_border_radius_10 ct_py_14_px_10 w-100 ct_fs_20 ct_tansparent_btn ct_i_am_coach_btn">I’m a Coach</button> -->

                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<div *ngIf="loading" class="ct_loader_main">
    <div class="loader"></div>
</div>