<div class="ct_notification_search_input mb-4">
    <input type="text" class="form-control ct_login_input" placeholder="Search..." [(ngModel)]="searchQuery">
    <i class="fa-solid fa-magnifying-glass"></i>
</div>



<h4 class="ct_ff_roboto ct_fw_500 text-white ct_fs_20">Suggested Categories</h4>

<div *ngIf="(displayedCategories | filter:searchQuery)?.length === 0 && searchQuery" class="text-center mt-4">
    <p class="ct_fs_15 text-white">No categories found</p>
</div>

<div class="mt-4">
    <ul class="ct_mt_30 ct_all_notification px-2 ct_suggested_category_scroll">
        <li *ngFor="let categories of displayedCategories | filter:searchQuery;">
            <div class="d-flex align-items-center justify-content-between gap-2">
                <div class="d-flex gap-2 align-items-center">
                    <div class="ct_star_circle">
                        <img src="../assets/img/star.png" alt="">
                    </div>
                    <div  style="flex: 1;">
                        <h5 class="ct_fs_15 ct_orange_text ct_fw_600 mb-0">{{categories.name}}</h5>
                        <!-- <p class="mb-0 ct_fs_12 text-white">{{categories.totalPosts}} {{categories.totalPosts > 1 ?
                            'Posts' : 'Post'}}</p> -->
                            
                    </div>
                </div>
                <div>
                    <!-- remove this class ct_active_follow on click Follow and change text to following -->
                    <button
                        class="ct_orange_btn ct_grey_btn ct_border_radius_10 px-2 py-2 h-auto ct_fs_13 ct_active_follow"
                        (click)="followCatg(categories.id)">
                        <div class="d-flex align-items-center">
                            <div class="spinner-border me-2" role="status"
                                *ngIf="btnLoader1 && categories.id == followId">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span *ngIf="btnLoader1 && categories.id != followId || !btnLoader1">Follow</span>
                        </div>
                    </button>
                    <p class="mb-0 ct_ff_roboto ct_fs_12 text-white text-center mt-2 ct_fw_400">
                        {{categories.totalFollowers}} {{categories.totalFollowers > 1 ? 'Followers' : 'Follower'}}
                    </p>
                </div>
            </div>
        </li>

        <!-- Add this after your list -->
        <!-- <div *ngIf="displayedCount < data.length">
            <button class="ct_orange_btn ct_grey_btn ct_border_radius_10 px-2 py-2 h-auto ct_fs_13"
                (click)="loadMore()">
                Load More
            </button>
        </div> -->

    </ul>
</div>



<!-- <hr class="ct_hr_line_op_5"> -->


<!-- <div class="ct_notification_search_input mb-4">
    <input type="text" class="form-control ct_login_input" placeholder="Search">
    <i class="fa-solid fa-magnifying-glass"></i>
</div> -->
<!-- *ngIf="coaches?.length > 0" -->
<!-- <h4 class="ct_ff_roboto ct_fw_500 text-white ct_fs_20">Suggested Coaches</h4>

<div *ngIf="(displayedCoaches | filter:searchQuery)?.length === 0 && searchQuery" class="text-center mt-4">
    <p class="ct_fs_15 text-white">No coaches found</p>
</div>


<div class="mt-4">
    <ul class="ct_mt_30 ct_all_notification  px-2">
        <li *ngFor="let coach of displayedCoaches | filter:searchQuery;">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex gap-2" (click)="getCoachId(coach.id)" style="cursor: pointer;">
                    <div>
                        <img [src]="coach.avatar_url ? coach.avatar_url : '/assets/img/np_pro.png'" alt=""
                            class="ct_img_44 ct_bor ct_orange_border_1">
                    </div>
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-1">{{coach.full_name}}</h5>
                        
                            <div  class="d-flex align-items-center gap-2 mt-1"><img  src="../assets/img/star.png" alt="star"><span  class="ct_orange_text">Marketing</span></div>
                    </div>
                </div>
                <div>
                    <button
                        class="ct_orange_btn ct_grey_btn ct_border_radius_10 px-2 py-2 h-auto ct_fs_13 ct_active_follow"
                        (click)="followCoach(coach.id)">

                        <div class="d-flex align-items-center">
                            <div class="spinner-border me-2" role="status" *ngIf="btnLoader && coach.id == followId">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span *ngIf="btnLoader && coach.id != followId || !btnLoader">Follow</span>
                        </div>
                    </button>
                    <p class="mb-0 ct_ff_roboto ct_fs_12 text-white text-center mt-2 ct_fw_400">
                        {{coach.numberOfFollower}} {{coach.numberOfFollower > 1 ? 'Followers' : 'Follower'}}</p>
                </div>
            </div>
        </li>


    </ul>
</div> -->