<div class="d-flex align-items-center gap-2 justify-content-between mb-4 flex-wrap">
    <h4 class="ct_fs_28 ct_ff_roboto ct_fw_500 ct_orange_text">Edit Event Details</h4>
    <button class="ct_orange_btn ct_grey_btn ct_border_radius_10" (click)="editEvevt()"> Update Event</button>
</div>

<form [formGroup]="newForm">

    <!-- <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Event Image</label>
        <label for="imgInp" class="w-100">
            <input accept="image/*" type="file" id="imgInp" class="d-none" (change)="handleFileInput1($event)"
                formControlName="cover" />
            <div class="ct_edt_img">
                <img id="blah1" src="#" alt="Uploaded Image" [src]="UploadedBg ? UploadedBg : '/assets/img/np_pro.png'">
            </div>
        </label>
    </div> -->
    <!-- <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Image</label>
        <label for="imgInp" class="w-100">
            <input accept="image/*" type="file" id="imgInp" class="d-none" (change)="handleFileInput1($event)"
                formControlName="cover" />
            <div class="ct_edt_img ct_cover_img">
                <img id="blah1" class="ct_img_h_200" src="#" alt="Uploaded Image"
                    [src]="data?.mediaUrl ? data?.mediaUrl : '/assets/img/no_bg.png'">
            </div>
        </label>
    </div> -->

    <div class="form-group mb-3" data-bs-toggle="modal" data-bs-target="#ct_create_team">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Image</label>
        <div class="ct_cover_img">
            <label for="imgInp" class="w-100">
                <input accept="image/*" type="file" id="imgInp" class="d-none" (change)="fileChangeEvent($event)"
                    formControlName="cover" />
                <img id="blah1" class="ct_img_h_200" [class.ct_object_fit_cover]="!croppedImage" src="#" alt="Uploaded Image"
                    [src]="croppedImage ? croppedImage : '/assets/img/no_bg.png'">
            </label>

        </div>
    </div>


    <div class="modal fade" id="ct_create_team" tabindex="-1" aria-labelledby="ct_create_teamLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <label for="" class="w-100">

                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                        [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"
                        [cropperMaxHeight]="1250" [cropperMinHeight]="1250"></image-cropper>

                    <button class="ct_orange_btn ct_border_radius_10 ct_py_14_px_10 w-100 ct_fs_20 mt-3 "
                        data-bs-dismiss="modal">Done</button>
                    <button hidden type="button" class="btn btn-secondary" #closeModal
                        data-bs-dismiss="modal">Close</button>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Title</label>
        <input type="text" class="ct_login_input form-control ct_border_radius_10" formControlName="name"
            placeholder="Enter Event Title">
        <div *ngIf="newForm.controls['name'].invalid && newForm.controls['name'].touched" class="error-message">
            <div *ngIf="newForm.controls['name'].errors?.['required']">Title is
                required.</div>
        </div>
    </div>

    <!-- <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Location</label>
        <input type="text" class="ct_login_input form-control ct_border_radius_10" formControlName="address"
            placeholder="Enter Location">
        <div *ngIf="newForm.controls['address'].invalid && newForm.controls['address'].touched" class="error-message">
            <div *ngIf="newForm.controls['address'].errors?.['required']">Location is
                required.</div>
        </div>
    </div> -->

    <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Date</label>
        <input type="date" class="ct_login_input form-control ct_border_radius_10" formControlName="date"
            [attr.min]="minDate">
        <div *ngIf="newForm.controls['date'].invalid && newForm.controls['date'].touched" class="error-message">
            <div *ngIf="newForm.controls['date'].errors?.['required']">Date is
                required.</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="" class="mb-2 ct_ff_roboto ct_fw_600 text-white">Details</label>
        <textarea maxlength="500" class="ct_login_input form-control ct_border_radius_10 h-auto" formControlName="about"
            rows="4" placeholder="Type here...">
      </textarea>
        <div *ngIf="newForm.controls['about'].invalid && newForm.controls['about'].touched" class="error-message">
            <div *ngIf="newForm.controls['about'].errors?.['required']">Details is
                required.</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="eventType" class="mb-2 text-white">Event Type</label>
        <select class="ct_login_input form-control ct_border_radius_10" formControlName="eventType">
            <option value="LIVE_EVENT">Live-event</option>
            <option value="WEBINAR">Webinar</option>
        </select>
    </div>


    <!-- Live-event Fields -->
    <div *ngIf="eventType === 'LIVE_EVENT'">
        <div class="form-group mb-3">
            <label for="address" class="mb-2 text-white">Address</label>
            <input type="text" class="ct_login_input form-control ct_border_radius_10" formControlName="address"
                placeholder="Enter Address">
        </div>
    </div>


      <!-- Webinar Fields -->
      <div *ngIf="eventType === 'WEBINAR'">
        <div class="form-group mb-3">
            <label for="webinarUrl" class="mb-2 text-white">Webinar URL</label>
            <input type="text" class="ct_login_input form-control ct_border_radius_10" formControlName="webinarUrl"
                placeholder="Enter Webinar URL">
        </div>
    </div>

    <!-- IsPaid Dropdown -->
    <div class="form-group mb-3">
        <label for="isPaid" class="mb-2 text-white">Content Type</label>
        <select class="ct_login_input form-control ct_border_radius_10" formControlName="isPaid">
            <option value="0">Free</option>
            <option value="2">Paid</option>
            <option value="1">Add Hoc Charge</option>
        </select>
    </div>

    <!-- Price Field (Shown only if IsPaid is "yes") -->
    <div *ngIf="isPaidValue == 1" class="form-group mb-3">
        <label for="price" class="mb-2 text-white">Price</label>
        <input type="number" class="ct_login_input form-control ct_border_radius_10" formControlName="price"
            placeholder="Enter Price">
    </div>

</form>

<div *ngIf="loading" class="ct_loader_main">
    <div class="loader"></div>
</div>