/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import "ngx-toastr/toastr";
@import "../node_modules/intl-tel-input/build/css/intlTelInput.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

.error-message {
  color: red;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: #333 !important;
}
div:where(.swal2-container) h2:where(.swal2-title),
div:where(.swal2-container) .swal2-html-container {
  color: #fff !important;
}

div:where(.swal2-icon).swal2-warning {
  border-color: #e58934 !important;
  color: #e58934 !important;
}

.ct_orange_border_1 {
  border: 1px solid var(--orange);
}

/* .ct_multi_select {
  margin-bottom: 0px !important;
}    */

.ct_multi_select .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
  border: 1px solid #8f8f8f !important;
  color: #fff;
  border-radius: 10px;
}
.ct_multi_select
  .mdc-text-field--no-label:not(.mdc-text-field--textarea)
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  color: #fff !important;
  height: 38px !important;
}
.ct_multi_select
  .mdc-text-field--no-label:not(.mdc-text-field--textarea)
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control::placeholder {
  color: #fff !important;
  opacity: 0.8;
}

.ct_multi_select .mat-mdc-form-field-infix,
.ct_multi_select .mat-mdc-form-field-infix,
.mat-mdc-form-field-infix {
  padding: 3px 0px !important;
}
.ct_pe_34 {
  padding-right: 34px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: #fff !important;
}
.mdc-line-ripple {
  display: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swal2-confirm:focus {
  box-shadow: unset !important;
}

.iti {
  position: relative;
  display: inline-block;
  width: 100%;
}

.iti .iti__selected-dial-code {
  margin-left: 4px;
  color: white;
}

.iti__country-list .iti__flag,
.iti__country-name {
  margin-right: var(--iti-spacer-horizontal);
  color: white;
}

.iti__dropdown-content {
  border-radius: 3px;
  background-color: #0f100f;
}

.ct_pay_to_see_center {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.waveform div ~ div {
  display: none;
}

.ct_show_uploaded_audio_box_bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 30px;
  position: relative;
  z-index: 1;
}

.ct_show_uploaded_audio_box_bg:before {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}

.iti--inline-dropdown .iti__dropdown-content {
  width: 300px !important;
}
.iti__search-input {
  padding: 4px;
}
.ct_custom_dropdown ul.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ct_custom_dropdown ul.dropdown-list li {
  padding-block: 0px !important;
  color: #fff;
  width: 100%;
  padding-block: 6px !important;
  transition: 0.4s ease all;
}
.ct_custom_dropdown ul.dropdown-list li.selected,
.ct_custom_dropdown ul.dropdown-list li:hover {
  background-color: var(--orange) !important;
}
.ct_custom_dropdown .dropdown-menu {
  background: #0f100f !important;
  border-color: #0f100f !important;
  padding-block: 15px;
}
/* .dropdown-menu {

  --bs-dropdown-min-width: 100% !important;
  max-width: 360px !important;
  width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
    min-width: 240px !important;
    left: -12px !important;


  width: 100% !important;
  top: 28px !important;
} */
.custom-dropdown.ct_custom_dropdown {
  width: 100% !important;
}

/* @media screen and (max-width:575px){
  .dropdown-menu {

    
   
      min-width: 460px !important;
      left: -12px !important;
    top: 28px !important;
  }
} */
/* @media screen and (max-width:540px){
  .dropdown-menu {

    
   
      min-width: 420px !important;
      left: -12px !important;
    top: 28px !important;
  }
} */
/* @media screen and (max-width:430px){
  .dropdown-menu {

    
   
      min-width: 310px !important;
      left: -12px !important;
    top: 28px !important;
  }
} */
/* @media screen and (max-width:414px){
  .dropdown-menu {

    
   
      min-width: 295px !important;
      left: -12px !important;
    top: 28px !important;
  }
}
@media screen and (max-width:390px){
  .dropdown-menu {

    
   
      min-width: 270px !important;
      left: -12px !important;
    top: 28px !important;
  }
}
@media screen and (max-width:375px){
  .dropdown-menu {

    
   
      min-width: 250px !important;
      left: -12px !important;
    top: 28px !important;
  }
}
@media screen and (max-width:360px){
  .dropdown-menu {

    
   
      min-width: 240px !important;
      left: -12px !important;
    top: 28px !important;
  }
} */

.ct_custom_drop_dwon_890
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
  background-color: transparent;
  height: 26px;
  border-radius: 10px;
}

.ct_custom_drop_dwon_890 div#mat-select-0-panel {
  background-color: #000;
}

.ct_custom_drop_dwon_890 .mat-mdc-option .mdc-list-item__primary-text {
  color: #fff;
}
.ct_custom_drop_dwon_890 mat-option#mat-option-0.mdc-list-item--selected {
  background-color: #e58934;
  color: #fff !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: var(--orange) !important;
}
mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}
span.mat-mdc-select-min-line.ng-star-inserted {
  color: #fff !important;
}
.mat-mdc-select-arrow {
  color: #fff !important;
}
.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

div#mat-select-0-panel {
  background-color: #000 !important;
}
div.mat-mdc-select-panel {
  background-color: #000 !important;
}
.mat-mdc-option {
  color: #fff !important;
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: var(--orange) !important;
}
.ct_custom_drop_dwon_890 {
  width: 100% !important;
}

.ct_filtercategory_p_select_123 .mat-mdc-select {
  height: 38px !important;
  align-items: center;
  display: flex;
}
.ct_img_h_200_w_radius_10 {
  height: 280px;
  border-radius: 10px;
  object-fit: contain;
}
.form-control:focus {
  border-color: var(--orange);
}
@media screen and (max-width: 575px) {
  .ct_custom_drop_dwon_890
    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
    padding-left: 0px !important;
  }

  .swal2-container.swal2-center.swal2-backdrop-show {
    z-index: 999999999;
  }


  .cdk-overlay-container {
    z-index: 9999999999 !important;
  }
  
  .cdk-overlay-pane {
    z-index: 9999999999 !important;
  }
  
  .snackbar-success {
    z-index: 9999999999 !important;
  }


}
